{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/def.css' %}">

    </head>
    <body>

        <p class="d1">
            The Land Rover Defender (initially introduced as the Land Rover 110 / One Ten, and in 1984 joined by the Land Rover 90 / Ninety, plus the new, extra-length Land Rover 127 in 1985) is a series of British off-road cars and pickup trucks. They consistently have four-wheel drive, and were developed in the 1980s from the original Land Rover series which was launched at the Amsterdam Motor Show in April 1948. Following the 1989 introduction of the Land Rover Discovery, the term 'Land Rover' became the name of a broader marque, and thus no longer worked as the name of a specific model; thus in 1990 Land Rover renamed the 90 and 110 as Defender 90 and Defender 110 respectively. The 127 became the Defender 130.
            
        </p>
        <img class="img1" src="{% static 'images/w2.jpg' %}" alt="1">
    </body>
</html>