
{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/wrang.css' %}">
        

    </head>
    <body style="background-image: url( static/images/w1.jpg); background-repeat: no-repeat; background-size: cover; ">
        <p class="wrang">
            Jeep Wrangler Rubicon is the top model in the Jeep Wrangler lineup and the price of Wrangler top model is Rs. 63.02 Lakh. Jeep Wrangler Rubicon is available in Automatic (TC) transmission and offered in 5 colours: Black, Granite Crystal, Sting Grey, Firecracker Red and Bright White 
        </p>
        <!-- <img class="img2" src="{% static 'images/w1.jpg' %}" alt="2"> -->
    </body>
</html>